*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

.container{
    width: 35%;
    height: 35%;
    display: inline;
    text-align: center;
}
#search-button{
    width: 25%;
    height: 25%;
    margin-left: 38%;
}